## Assignment 1:

Python program to sort the given list of tuples using a lambda function :

In [1]:
lst = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [2]:
a = lambda x,y : y.sort(), lst

In [3]:
a

(<function __main__.<lambda>(x, y)>,
 [('Sachin Tendulkar', 34357),
  ('Ricky Ponting', 27483),
  ('Jack Kallis', 25534),
  ('Virat Kohli', 24936)])

## Assignment 2:

Python program for find the squares of all the numbers using lambda and map function :

In [4]:
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
def square(x):
    return x**2

In [6]:
list(map(square, l1))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Assignment 3:

Python program to convert the given list into a tuple of strings using map and lambda function :

In [7]:
l2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
tuple(list(map(lambda x : str(x), l2)))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

## Assignment 4:

Python program using reduce function to compute the product of the list numbers from 1 to 25 :

In [9]:
from functools import reduce

In [22]:
def list():
    n = []
    for i in range(1, 25):
        n.append(i)
    return n

In [23]:
l = list()
l

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24]

In [24]:
reduce(lambda x, y : x*y, l)

620448401733239439360000

## Assignment 5:

Python program to filter the numbers in a given list that are divisible by 2 and 3 :

In [13]:
l4 = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [14]:
list(filter(lambda x : x%2==0 and x%3==0, l4))

[6, 60, 90, 120]

## Assignment 6:

Python program to find palindromes in the given list of strings using lambda and filter function :

In [15]:
l = ['python', 'php', 'aba', 'radar', 'level']

In [21]:
list(filter(lambda x : (x == "".join(reversed(x))), l))

['php', 'aba', 'radar', 'level']